# MongoDB connection string
#MONGODB_URI=mongodb://localhost:27017/whatsapp-integration
MONGODB_URI=mongodb+srv://obwhatsapp:hKSYTZiR4okmzOCc@obicluster.ng0ohlv.mongodb.net/?retryWrites=true&w=majority&appName=OBICluster

# WhatsApp API credentials
WHATSAPP_TOKEN=EAAMNqN5RhI8BO8korIOw8YuSXMRa3zw5jrZA7RKqBajDZB9SqsR4JpkqRn7JbrH51ZAAMoRiPBZCgrDJWZCO9GdZA63w5COYkJvPPCjDWnPAzZAjA2KF2ZCUmUZAcNI9ZAkt46Fu183muf4dZBLzP7eQtkSe527bokUyoZA4H2TzAoJtZBZBrNDfTuJSCjuktBNLVPrbkB0ZAwT6ZApLVcSas5ck6K7t4vqAH68E1VEOGdEZD
WHATSAPP_PHONE_NUMBER_ID=639020895956705
VERIFY_TOKEN=whatsapp_verify_123_xyz

# Server configuration
PORT=3000

#https://developers.facebook.com/apps/859443865683087/whatsapp-business/wa-dev-console/?business_id=1428228951056467